name: Upload to TestFlight (No Fastlane)

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]


jobs:
  upload:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Create App Store Connect API Key
        env:
          ASC_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          ASC_KEY_P8: ${{ secrets.APP_STORE_CONNECT_API_KEY }}
        run: |
          mkdir -p ~/.appstoreconnect/private_keys
          echo "$ASC_KEY_P8" > ~/.appstoreconnect/private_keys/AuthKey_$ASC_KEY_ID.p8

      - name: Resolve Swift Packages
        run: |
          xcodebuild -resolvePackageDependencies \
          -project GasStation.xcodeproj

      - name: Archive
        run: |
          xcodebuild archive \
          -project GasStation.xcodeproj \
          -scheme GasStation \
          -configuration Release \
          -archivePath $PWD/build/GasStation.xcarchive

      - name: Export IPA
        run: |
          xcodebuild -exportArchive \
          -archivePath $PWD/build/GasStation.xcarchive \
          -exportPath $PWD/build \
          -exportOptionsPlist ExportOptions.plist

      - name: Upload to TestFlight
        env:
          ASC_KEY_ID: ${{ secrets.APPSTORE_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.APPSTORE_ISSUER_ID }}
        run: |
          xcrun altool --upload-app \
          --type ios \
          --file build/GasStation.ipa \
          --apiKey $ASC_KEY_ID \
          --apiIssuer $ASC_ISSUER_ID


          
